#frame{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 2fr 2fr;	
}

#myLocation{
	grid-column: 1/2;
	grid-row: 1;
}

#weatherInfo{
	grid-column: 2/3;
	grid-row: 1;
}

#countryList{
	grid-column: 1/3;
	grid-row: 2;
}